# Logs
logs
*.log
npm-debug.log*

typings
app/**/*.js
app/**/*.map
node_modules
jspm_packages
bower_components
local-settings.ts
local-settings.js
local-settings.js.map
public
.sass-cache
firebase.json