<mat-card class="about-card">
  <mat-card-header>
    <!-- <div mat-card-avatar alt="Photo of Kyle ONeill" class="about-image"></div> -->
    <mat-card-title>Kyle O'Neill</mat-card-title>
    <mat-card-subtitle>Software Engineer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/profile_image.jpg" alt="Photo of Kyle ONeill">
  <mat-card-content>
    <p class="body-text">
      I am a full-stack software engineer working remotely from a small farm near the Oregon coast.
      I primarily work in Javascript and Python, and am currently building a large Angular application.
    </p>
    <br>
    <p>
      This website is built with Angular and Firebase.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <div class="links">
      <a class="link" href="https://twitter.com/oneillMkyle">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a class="link" href="https://github.com/oneillkyle">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a class="link" href="https://www.linkedin.com/in/kyle-oneill/">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </div>
  </mat-card-actions>

  <mat-card-footer></mat-card-footer>

</mat-card>
