<mat-card>
  <mat-card-header>
    <mat-card-title>Reading List</mat-card-title>

    <mat-card-subtitle>Books read starting 2019</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <ng-container *ngFor="let book of (books | async)">
        <h3 *ngIf="!book.key" mat-subheader>{{ book.date | date: 'MMMM y' }}</h3>
        <mat-divider *ngIf="!book.key"></mat-divider>
        <mat-list-item *ngIf="book.key">
          <mat-icon mat-list-icon *ngIf="user?.admin" (click)="openDialog(book)" style="cursor: pointer;">edit</mat-icon>
          <h4 mat-line>
            <img *ngIf="book.image" [src]="book.image" alt="Book photo" style="height: 40px; width: 40px;">
            <span class="book-title">{{ book.title }}</span>
            <span class="title-icons">
              <a *ngIf="book.reviewLink" mat-icon-button [routerLink]="book.reviewLink" matTooltip="Review" color="accent">
                <mat-icon>description</mat-icon>
              </a>
              <a *ngIf="book.purchaseLink" mat-icon-button [href]="book.purchaseLink" target="_blank" matTooltip="Purchase" color="accent">
                <mat-icon>shopping_cart</mat-icon>
              </a>
            </span>
          </h4>
          <h5 mat-line class="mat-card-subtitle">{{ book.author }}</h5>
          <p mat-line>
            <app-star-rating [score]="book.rating" [forDisplay]="true" maxScore="5"></app-star-rating>
            <mat-icon *ngIf="book.audio" matTooltip="Audio Version">headset</mat-icon>
            <mat-icon *ngIf="!book.audio" matTooltip="Text Version">book</mat-icon>
          </p>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card-content>
  <mat-card-actions *ngIf="user?.admin">
    <button mat-button *ngIf="user?.admin" type="button" (click)="openDialog({})">Add Book</button>
  </mat-card-actions>
</mat-card>


<!-- <app-book-edit></app-book-edit> -->