<nav class="navbar navbar-dark bg-inverse navbar-fixed-top navbar-full">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" [routerLink]="['Blog']">Kyle O'Neill</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['Blog']">Blog</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['About']">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-xs-12 col-md-4">
            <side-nav></side-nav>
        </div>
    </div>
</div>
