<nav class="light-blue darken-2">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Kyle O'Neill</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li *ngIf="admin">
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
      <li *ngIf="user">
        <a (click)="signOut()">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="col s12 m8">
    <router-outlet></router-outlet>
  </div>
  <div class="col s12 m4">
    <side-nav></side-nav>
  </div>
</div>
