<mat-sidenav-container fullscreen>
  <div>
    <mat-toolbar>
      <h2 class="brand" routerLink="/"><a>Kyle O'Neill</a></h2>
      <div class="sc-toolbar">
        <a mat-button routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
        <!-- <a mat-button routerLink="/about" routerLinkActive="active">About</a> -->
        <a *ngIf="user" mat-button (click)="signOut()">Sign Out</a>
      </div>
    </mat-toolbar>

    <div dir="ltr" class="sc-content">
      <div class="flex-row">
        <div class="flex-gutter"></div>
        <div class="flex-content"><router-outlet></router-outlet></div>
        <div class="flex-gutter"></div>        
      </div>
    </div>
  </div>
</mat-sidenav-container>
