<div class="post-item">
  <post *ngIf="user?.admin" [enableEdit]="user?.admin" (onPostSave)="createOrUpdatePost($event)"></post>
</div>

<div class="posts-container">
  <div *ngFor="let post of posts | async; let last = last; let odd = odd; let even = even" 
    [ngClass]="{'odd': odd, 'even': even}" class="post-item">
      <post [enableEdit]="user?.admin" [enableDelete]="user?.admin" [post]="post" [morePosts]="morePosts && last"
        (onPostSave)="createOrUpdatePost($event)" (onMorePosts)="nextPage($event)" (onDeletePost)="deletePost($event)">
      </post>
  </div>
</div>
