<md-card [ngClass]="{'unpublished': currentDate < post.date}">
  <md-card-title>{{post?.title}}</md-card-title>

  <md-card-subtitle>{{post?.date | date}}</md-card-subtitle>

  <md-card-content>
    <div *ngIf="!editingPost">
      <p class="post-body" [innerHTML]="post.body"></p>
    </div>

    <form *ngIf="editingPost"
      (ngSubmit)="postForm.form.valid && createOrUpdatePost()"
      #postForm="ngForm">
      <fieldset class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" id="post-title" class="form-control" required [(ngModel)]="post.title"
          ngControl="title" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label for="post-date">Publish Date</label>
        <datepicker-ionic
          required
          singleSelect
          [(ngModel)]="date"
          [expanded]="true"
          name="date">
        </datepicker-ionic>

        Selected date is: {{ date }}
      </fieldset>

      <fieldset class="form-group">
        <label for="post-body">Body</label>
        <ckeditor
          name="body"
          [(ngModel)]="post.body"
          [config]="{uiColor: '#99000', extraPlugins: 'divarea'}"
          required></ckeditor>
      </fieldset>

      <button class="btn btn-primary"
        (click)="editingPost = false"
        *ngIf="!newPost">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!postForm.form.valid">Submit</button>
    </form>
  </md-card-content>

  <md-card-actions *ngIf="enableEdit || morePosts">
    <button *ngIf="enableEdit" (click)='editPost()' md-raised-button color="primary">
      Edit
    </button>
    <button *ngIf="enableDelete" (click)='deletePost()' md-raised-button color="primary">
      Delete
    </button>
    <button *ngIf="morePosts" (click)="loadMorePosts()" md-raised-button color="primary">
      Load more posts
    </button>
  </md-card-actions>

  <md-card-footer></md-card-footer>

</md-card>
