<md-card [ngClass]="{'unpublished': currentDate < post.date}">
  <md-card-title>{{post?.title}}</md-card-title>

  <md-card-subtitle>{{post?.date | date}}</md-card-subtitle>

  <md-card-content>
    <p *ngIf="!editingPost" class="post-body" [innerHTML]="post.body" style="padding: 25px;"></p>

    <form *ngIf="editingPost"
      (ngSubmit)="postForm.form.valid && createOrUpdatePost()"
      #postForm="ngForm">

      <md-input-container>
        <input mdInput type="text" [(ngModel)]="post.title" placeholder="Title" name="title">
      </md-input-container>

      <md-input-container>
        <input mdInput type="text" [(ngModel)]="formattedDate" placeholder="Publish Date" name="date">
      </md-input-container>
      <fieldset class="form-group">
        <label for="post-body">Body</label>
        <ckeditor
          name="body"
          [(ngModel)]="post.body"
          [config]="{uiColor: '#99000', extraPlugins: 'divarea'}"
          required></ckeditor>
      </fieldset>

      <button md-raised-button color="warn"
        (click)="editingPost = false"
        *ngIf="!newPost">Cancel</button>
      <button type="submit" md-raised-button color="primary" [disabled]="!postForm.form.valid">Submit</button>
    </form>
  </md-card-content>

  <md-card-actions *ngIf="enableEdit || morePosts">
    <button *ngIf="enableEdit" (click)='editPost()' md-raised-button color="primary">
      Edit
    </button>
    <button *ngIf="enableDelete" (click)='deletePost()' md-raised-button color="warn">
      Delete
    </button>
    <button *ngIf="morePosts" (click)="loadMorePosts()" md-raised-button color="primary">
      Load more posts
    </button>
  </md-card-actions>

  <md-card-footer></md-card-footer>

</md-card>
