<mat-card [ngClass]="{'unpublished': currentDate < post.date}">
  <mat-card-title *ngIf="!editingPost && !noHeader">{{post?.title}}</mat-card-title>

  <mat-card-subtitle *ngIf="!editingPost && !noHeader">{{post?.date | date}}</mat-card-subtitle>

  <mat-card-content>
    <!--<markdown>{{post.body}}</markdown>    -->
    <p *ngIf="!editingPost" class="post-body" [innerHTML]="displayPostBody" style="padding: 25px;"></p>

    <form *ngIf="editingPost" (ngSubmit)="createOrUpdatePost()" #postForm="ngForm">

      <div>
        <mat-input-container style="width: 100%">
          <input matInput type="text" [(ngModel)]="post.title" placeholder="Title" name="title" width="">
        </mat-input-container>
      </div>
      <div>
        <mat-input-container style="width: 100%">
          <input matInput type="text" [(ngModel)]="formattedDate" placeholder="Publish Date" name="date">
        </mat-input-container>
      </div>
      <!--<mat-input-container style="width: 100%">
        <textarea matInput placeholder="Content" [(ngModel)]="post.body" name="body" rows="20"></textarea>
      </mat-input-container>-->
      <editor [elementId]="post?.$key || 'new-post'" [(content)]="post.body">
      </editor>

      <div class="post-submits">
        <button mat-raised-button color="warn" (click)="editingPost = false" *ngIf="!newPost">Cancel</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!postForm.form.valid">Submit</button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions *ngIf="enableEdit || morePosts" class="post-actions">
    <button *ngIf="enableEdit && !newPost &&! editingPost" (click)='editPost()' mat-raised-button color="primary">
      Edit
    </button>
    <button *ngIf="enableDelete &&! editingPost" (click)='deletePost()' mat-raised-button color="warn">
      Delete
    </button>
    <button *ngIf="morePosts" (click)="loadMorePosts()" mat-raised-button color="primary">
      Load more posts
    </button>
  </mat-card-actions>

  <mat-card-footer></mat-card-footer>

</mat-card>
